{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h1 class="text-center mb-4">Welcome to Anthony's Student Innovation Project</h1>
        <div class="card">
            <div class="card-body">
                <h2>About Me</h2>
                <p>
                    I'm Anthony, a Junior majoring in Network Security at UAT. While orginally from Montana, I'm now based in Austin, Texas.
                    I'm passionate about cybersecurity, especially AI-driven threat detection.
                    My hobbies include gaming and Python programming, often combining them to build
                    security tools or game mods. Explore my site to learn about my Student Innovation
                    Project, academic objectives, and other projects!
                </p>
            </div>
        </div>
        <div class="mt-4">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/xwqfbNvzg9s?si=d4dIcTntbYEGyq3p"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}